.my-requests-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .request-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .request-details {
    display: flex;
    flex-direction: column;
  }
  
  .sender-datetime,
  .your-datetime {
    margin-bottom: 5px;
  }
  
  .replacement-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  